.allQuestions {
    margin-top: 40px;
}

.allquestions-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 800px;
    max-width: 800px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* .allquestions-content:hover {
    background-color: #F7F7F7;
} */

.user-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-top: 30px;
}

.user-display img {
    border-radius: 50%;
    width: 40px;
    max-height: 100px;
}

.user-display h3 {
    padding-left: 20px;
    font-size: 13px;
}

.question-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-bottom: 50px; */
    margin-bottom: 10px;
}

.question-content h2 {
    font-size: 16px;
}

.question-content p {
    font-size: 15px;
}

.question-content img {
    max-height: 300px;
    max-width: 400px;
}

.question-content button {
    font-size: 13px;
    background-color: white;
    border: none;
    color: #636466;
}

.question-content button:hover {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding: 5px;
}

.allanswers-content button {
    border: none;
    background-color: white;
    margin-left: 50px;
    padding-bottom: 20px;
    font-size: 14px;
}

.allanswers-content button:hover {
    background-color: #EFEFEF;
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 10px;
}
