

.allQuestions {
    margin-top: 40px;
}

.allquestions-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    width: 800px;
    max-width: 800px;

}

.user-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5%;
    padding-top: 30px;
}

.user-display img {
    border-radius: 50%;
    max-width: 10%;
    max-height: 100px;
}

.user-display h3 {
    padding-left: 20px;
    font-size: 20px;
}

.question-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.question-content h2, p {
    font-size: 15px;
}

.question-content img {
    max-height: 300px;
    max-width: 400px;
}

.see-answers-button {
    font-size: 20px;
}
