.homepage {
    background-color: #F1F2F2;
    overflow-x: hidden;
}

#question-input input {
    width: 100%;
    padding: 10px;
    background-color: #F7F7F7;
    border-radius: 20px;
    border: 1px solid #DEE0E1;
}

#question-input input:hover {
    background-color: #F1F2F2;
    cursor: pointer;
}


@media screen and (max-width:1000px) {
    .homepage-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .all-spaces-container {
        padding-right: 100px;
        padding-left: 100px;
    }

    .questions-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #question-input {
        padding: 25px;
        background-color: white;
        width: 300px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
    }
}

@media screen and (min-width:1001px) {
    .homepage-content {
        display: inline-flex;
        flex-direction: row;
        padding-top: 40px;
        margin-left: 200px;
        margin-right: 100px;
    }

    .all-spaces-container {
        padding-right: 100px;
    }

    .questions-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #question-input {
        padding: 40px;
        background-color: white;
        width: 720px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
    }
}

@media screen and (min-width:1401px) {
    .homepage-content {
        display: inline-flex;
        flex-direction: row;
        padding-top: 40px;
        margin-left: 200px;
    }

    .all-spaces-container {
        padding-right: 100px;
        padding-left: 20px;
    }

    .questions-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #question-input {
        padding: 40px;
        background-color: white;
        width: 720px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
    }
}
