.questions-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.questions-content button {
    margin: 20px;
}

.post-question-box {
    width: 800px;
    /* background-color: white; */
    border-radius: 10px;
}

.post-question-box input {
    width: 780px;
    height: 30px;
    box-shadow: none;
}

.post-question-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
