/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#root,
#root>div {
    width: 100vw;
    height: 100vh;
}

:root,
html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* body {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
} */

#modal-button {
    border: none;
    background-color: #92B4EC;
    color: white;
    font-size: 15px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#modal-button:hover {
    background-color: #1A5AFF;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
    cursor: default
}

input,
textarea,
select {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DEE0E1;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
