.signup-form-box {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 200px auto;
    max-width: 75%;
    max-height: 75%;
}

.signup-form-box button {
    margin-bottom: 20px;
}

.signup-form{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
