.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    margin-top: -12px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 2px -3px 10px 1px #EBECEC;
    border-bottom: 1px solid #EAEBEB;
}

.links {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    list-style: none;
    display: inline-flex;

}

.navbar-icon {
    max-height: 40px;
}

#woof {
    color: #B92B27;
    font-family: 'Le Monde Courrier';
    font-weight: 900;
}

#woof:hover {
    cursor: pointer;
    color: #CE6B68;
}

a {
    text-decoration: none;
}
