.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    /* max-height: 70px; */
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    position: relative;
    margin-top: -12px;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 2px -3px 22px 1px black;
}

.links {
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    list-style: none;
    display: inline-flex;

}

.navbar-icon {
    max-height: 40px;
}
