.navbar {
    border: 1px solid black;
    background-color: #FEF5ED;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links{
    list-style: none;
}

.links li{
    list-style: none;
}
